@model WebApp.Models.UserModel
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> locOptions
@{
    ViewData["Title"] = Localizer["Home Page"];
}
<!DOCTYPE html>
<html lang="en">


<head>
    
   
   
  <link rel="stylesheet" href="~/css/style.css" />
       <link href="~/lib/bootstrap/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">



</head>

<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card" id="list1" style="border-radius: .75rem; background-color: #eff1f2;">
          <div class="card-body py-4 px-4 px-md-5">

            <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
              <i class="fas fa-check-square me-1"></i>
              <u>My Tasks </u>
            </p>

     

        
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</html>
