
@{
    ViewData["Title"] = "MainPage";
}

<h1>MainPage</h1>
<div>
    <table id="myTable">
        <thead>
             <tr>
            <th>
                sjbc
            </th>
             <th>
                sjbc
            </th> <th>
                sjbc
            </th> <th>
                sjbc
            </th> <th>
                sjbc
            </th>
        </tr>
       
        </thead>
        <tbody>
             <tr>
            <th>
                sjbc
            </th>
             <th>
                sjbc
            </th> <th>
                sjbc
            </th> <th>
                sjbc
            </th> <th>
                sjbc
            </th>
        </tr>
        </tbody>
       

    </table>
</div>
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"  rel="stylesheet"/>
    @section Scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript">
         var mvcBaseUrl = '@ViewBag.BaseMvcUrl';
        var table = $('#Mytable').DataTable();
        if (!table.data().any()) {
            alert('Empty table');
        }
        else {
            $(document).ready(function () {
                table;
            });
        }

    </script>
}



